#infoDisplay {
    background: rgb(104,19,0);
    /* padding-left: 1%;
    padding-right: 1%; */
    overflow-x: hidden;
    height: 100vh;
}

.infoFooterDisplay {
  white-space: pre-wrap;
  font-family: 'FoundersGroteskText';
  background: rgb(104,19,0);
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  height: 2%;
  padding-left: 2%;
  padding-right: 1%;
  /* margin-bottom: 2%; */
  color: rgb(255,192,103);
  letter-spacing: 0.03em !important;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 1780px) {
  .infoContentDiv {
    /* padding-left: 4% !important; */
    padding-top: 3% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1024px) {
  .infoFooterDisplay {
    height: 5%;
    padding-top: 3%;
    text-align: left;
    padding-left: 4% !important;
    white-space: pre-wrap;
    letter-spacing: 0.03em !important;
  }

  .infoContentDiv {
    padding-left: 4% !important;
    /* padding-top: 10% !important; */
  }
}

/* Small devices (portrait tablets and large phones, 450px and up) */
@media only screen and (max-width: 450px) {
  .infoContentDiv {
    padding-left: 4% !important;
    padding-top: 32% !important;
  }
}

@media only screen and (max-width: 600px) {
  .infoContentDiv {
    padding-left: 4% !important;
    padding-top: 20% !important;
  }
}
@media only screen and (max-width: 420px) {
  .infoContentDiv {
    padding-left: 4% !important;
    padding-top: 35% !important;
  }
}

@font-face {
    font-family: "FoundersGroteskText";
    src: local("Founders Grotesk Text"),
    url("./resource/font/founders-grotesk-regular.woff2") format("truetype");
}

.bottomInfoNav {
  white-space: none;
  font-family: 'FoundersGroteskText';
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: rgb(255,192,103);
}

.descriptionInfo{
    white-space: none;
    font-family: 'FoundersGroteskText';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    /* letter-spacing: 0.01em; */
    color: rgb(255,192,103);
}

.textAlignLeft {
  text-align: left;
}

.textAlignCenter {
    text-align: center;
}

.textAlignRight {
    text-align: right;
}

a:link {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
    color: inherit;
  }
  
  a:active {
    text-decoration: none;
    color: inherit;
  }

.contentDescriptionHeight {
  /* height: 40%; */
}

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1024px) {
  .contentDescriptionHeight {
    height: 20%;
  }
}

.contentHeight {
  margin-top: 3%;
  padding-left: 2%;
  height: 40%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 430px) {
.contentHeight {
    height: 35%;
  }
}

  #infoContent {
  white-space:pre-wrap;
  font-family: 'FoundersGroteskText';
  font-style: normal; 
  font-weight: 400;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: rgb(255,192,103);
  text-align: left;
  padding-left: 2%;
  padding-right: 30%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1440px) {
  #infoContent {
    white-space:pre-wrap;
    font-family: 'FoundersGroteskText';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: rgb(255,192,103);
    text-align: left;
    /* padding-left: 2%; */
    padding-right: 27%;
  }
}

@media only screen and (max-width: 450px) {
  #infoContent {
    padding-right: 15% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1024px) {
  #infoContent {
    white-space:pre-wrap;
    font-family: 'FoundersGroteskText';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: rgb(255,192,103);
    text-align: left;
    padding-left: 4%;
    padding-right: 9%;
  }

  #contextAlign li {
    font-family: 'FoundersGroteskText';
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: rgb(255,192,103);
  }
  
  #contextAlign ul {
    font-family: 'FoundersGroteskText';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    margin-top: 0%;
    margin-bottom: 5%;
    /* letter-spacing: 0.02em; */
    color: rgb(255,192,103);
  }
  
  #contextAlign {
    font-family: 'FoundersGroteskText';
    border-collapse: collapse;
    width: 100%;
    padding-left: 2%;
  }

  #contextAlign li {
    font-family: 'FoundersGroteskText';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: rgb(255,192,103);
  }

  #context li{
    font-size: 20px;
  }
}

#contextAlign li {
  font-family: 'FoundersGroteskText';
  font-style: normal;
  font-weight: 400;
  font-size: 24px !important;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: rgb(255,192,103);
}

#contextAlign ul {
  font-family: 'FoundersGroteskText';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  /* letter-spacing: 0.02em; */
  color: rgb(255,192,103);
}

#contextAlign {
  font-family: 'FoundersGroteskText';
  border-collapse: collapse;
  width: 100%;
}

#contextAlign h1{
  font-family: FoundersGroteskText;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: right;
  /* letter-spacing: 0.02em; */
  align-content: right;
  text-align: right;
  margin: 0;
}

.infoPageTransition {
  /* display: flex; */
  /* height: 100%; */
  /* width: 100%; */
  /* flex-direction: row; */
  /* align-items: center; */
  animation: infoPageTransition 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: linear;
}

@keyframes infoPageTransition {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.infoContentDiv {
  padding-left: 2%; 
  padding-top: 5%
}

.mobileFontSize {
  font-size: 16px !important;
}

.laptopFontSize {
  font-size: 16px !important;
  letter-spacing: 0.02em !important;
}

.fixedTopPosition1 {
  position: sticky;
  top: 0;
  width: -webkit-fill-available;
}