#topnav {
  font-family: 'FoundersGroteskText';
  border-collapse: collapse;
  width: 100%;
  background: #661F08;
}

#topnav h1 {
  font-family: FoundersGroteskText;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: right;
  /* letter-spacing: 0.02em; */
  align-content: right;
  text-align: right;
  margin: 0;
}

.logoheader {
  text-align: right;
  align-items: right;
  align-self: right;
}

#topnav td {
  font-family: 'FoundersGroteskText';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  /* letter-spacing: 0.02em; */
  color: #FFC572;
  text-align: left;
  /* border: 1px solid #ddd; */
  /* padding: auto;
  padding-left: 2%;
  font-family: 'FoundersGroteskText';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #000000;
  text-align: left; */
}

.descriptionInfoHeader {
  font-family: 'FoundersGroteskText';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #FFC572;
  display: flex;
  margin: 0
}

.infoNavDisplay {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 0%;
  margin-bottom: 0.0%;
  height: 6.75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) {
  .infoNavDisplay {
    border-bottom: 1.6px solid #FFC572;
    padding-left: 3%;
    padding-right: 2%;
  }
}

a:link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

.studioBBBInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* margin-left: 1%; */
  margin-right: 1%;
}

.studioInfoBBB {
  margin: 0;
  font-family: 'FoundersGroteskText';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  /* letter-spacing: 0.02em; */
  color: #FFC572;
  justify-content: center;
  display: inline;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) {
  .studioInfoBBB {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #FFC572;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
    font-family: 'FoundersGroteskText';
    justify-content: center;
    display: inline;
  }
}

.leftInfoNavBar {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 1;
  justify-content: flex-start;
}

.descriptionInfoDiv {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
}

.rightInfoNavBar {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 1;
  justify-content: flex-end;
}

.linkStyleInfoDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-left: 5%;
  /* margin-right: 2%; */
  width: fit-content;
}

.linkStyleInfo {
  margin: 0;
  font-family: 'FoundersGroteskText';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  /* letter-spacing: 0.02em; */
  color: #FFC572;
  text-align: center;
  justify-content: center;
  display: flex;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) {
  .linkStyleInfo {
    margin: 0;
    font-family: 'FoundersGroteskText';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* letter-spacing: 0.02em; */
    color: #FFC572;
    text-align: center;
    justify-content: center;
    display: flex;
  }
}
