#infoDisplay {
    background: #661F08;
    padding-left: 1%;
    padding-right: 1%;
    overflow-x: hidden;
    height: 100vh;
}

.infoFooterDisplay {
  white-space:pre;
  background: #661F08;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 1%;
  padding-right: 1%;
}

@font-face {
    font-family: "FoundersGroteskText";
    src: local("Founders Grotesk Text"),
      url("./resource/font/founders-grotesk-regular.woff2") format("truetype");
}

.descriptionInfo{
    white-space: none;
    font-family: 'FoundersGroteskText';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #FFC572;
}

.textAlignCenter {
    text-align: center;
}

.textAlignRight {
    text-align: right;
}

a:link {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
    color: inherit;
  }
  
  a:active {
    text-decoration: none;
    color: inherit;
  }

  #infoContent {
    white-space:pre-wrap;
    font-family: 'FoundersGroteskText';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #FFC572;
    text-align: left;
    padding-right: 62%;
  }