.defaultLandingPage-full {
  /* display: flex; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.topnav {
  /* overflow: hidden;s */
  border-collapse: collapse;
  width: 100%;
  display: fixed;
  flex-direction: row;
}

.nav h1 {
  font-family: 'FoundersGroteskText';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  /* margin-left: 10%; */
  /* margin-right: 1%; */
}

#fixed-div {
  position: fixed;
  /* top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #000; */
}

.descp {
  display: flex;
  flex-direction: column;
  /* align-content:space-between; */
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.descrip p {
  /* width: 302px;
    height: 32px; */
  font-family: 'Founders Grotesk Text Test';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #000000;
  display: flex;
}

.row-rev {
  flex-direction: row-reverse;
}

.header-right {
  columns: 6rem auto;
}

[class*="col-"] {
  float: left;
  /* padding-top:15px; */
  border: 1px solid red;
}

.topnav-right {
  float: right;
  list-style: none;
  /* width: 100%; */
  /* height:fit-content; */
  display: flex;
  align-items: center;
  text-align: right;
  margin-right: 0;
  /* text-decoration: none; */
  /* position:absolute; */
  /* top:0; */
  /* right:0; */
}

.topcorner {
  position: absolute;
  top: 0;
  right: 0;
}

.nav {
  padding-left: 2%;
  padding-right: 1%;
}

.landingPage-full0 {
  background-color: #FFB8F2;
  min-height: 69%;
  width: 100%;
  display: flex;
  /* animation: navigationTop 2s; */
  /* animation-fill-mode: linear forwards; */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) {
  .landingPage-full0 {
    background-color: #FFB8F2;
    min-height: auto;
    width: 100%;
    display: flex;
  }
}

@keyframes navigationTop {
  from {
    transform: translateY(20%);
  }

  to {
    transform: translateY(0%);
  }
}

.landingPage-full1 {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  align-items: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) {
  .landingPage-image1 {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    align-self: center;
  }
}

.landingPage-image1 {
  /* align-items: left; */
  /* justify-content: center; */
  /* float: right; */
  /* position: fixed; */
  /* width: 33.3vw; */
  /* max-height: 50%; */
  /* width:33.33%; */
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  align-self: stretch;
}

.landingPage-image img:hover {
  /* align-items: left; */
  justify-content: center;
  /* float: right; */
  /* position: fixed; */
  /* width: 33.3vw; */
  /* max-height: 50%; */
  /* width:33.33%; */
  width: inherit;
  height: 30vh;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  .loadingPage-full img{ 
    background: red;
    max-width: 70%;
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .landingPage-full {
    /* display: flex; */
    overflow-x: hidden;
    overflow-y: hidden;
    /* overflow: hidden; */
    background-color: #FFB8F2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    /* position: fixed; */
  }

  .landingPage-image {
    /* background-color: chartreuse; */
    align-items: centers;
    justify-content: center;
    /* float: right; */
    width: inherit;
  }

  .landingPage-image img:hover {
    /* background-color: chartreuse; */
    align-items: centers;
    justify-content: center;
    /* float: right; */
    width: inherit;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .landingPage-full {
    /* display: flex; */
    overflow-x: hidden;
    overflow-y: hidden;
    /* overflow: hidden; */
    background-color: #FFB8F2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    /* position: fixed; */
    height: 70%;
  }

  .landingPage-image {
    /* background: blue; */
    flex-direction: row;
    align-items: left;
    justify-content: center;
    float: right;
    height: 100%;
    width: inherit;
    /* position: fixed; */
  }

  .landingPage-image img:hover {
    /* background: blue; */
    flex-direction: row;
    align-items: left;
    justify-content: center;
    float: right;
    height: 100%;
    width: inherit;
    /* position: fixed; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .landingPage-full {
    /* display: flex; */
    /* overflow: hidden; */
    background-color: #FFB8F2;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: -moz-available;
    /* position: fixed; */
  }

  .landingPage-image {
    flex-direction: row;
    align-items: left;
    justify-content: center;
    /* float: right; */
    height: 100%;
    width: inherit;
    /* width: 1000px; */
    /* position: fixed; */
  }

  .landingPage-image img:hover {
    flex-direction: row;
    align-items: left;
    justify-content: center;
    /* float: right; */
    height: 100%;
    width: inherit;
    /* width: 1000px; */
    /* position: fixed; */
  }
}

#nav h1 {
  font-family: FoundersGroteskText;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

@font-face {
  font-family: "FoundersGroteskText";
  src: local("Founders Grotesk Text"),
    url("./resource/font/founders-grotesk-regular.woff2") format("truetype");
}

.landingPageTransition {
  /* display: flex; */
  /* height: 100%; */
  /* width: 100%; */
  /* flex-direction: row; */
  /* align-items: center; */
  animation: landingPageTransition 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: linear;
}

@keyframes landingPageTransition {
  from {
    transform: translateY(-500%);
  }

  to {
    transform: translateY(0%);
  }
}