/* @import "rsuite/dist/rsuite.css"; */

/* #root{ padding: 10px; } */

.defaultLandingPage-full{
    /* display: flex; */
    overflow: hidden;

  }

  .topnav{
    /* overflow: hidden;s */
    border-collapse: collapse;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .nav h1 {
    font-family: FoundersGroteskText;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    /* margin-left: 10%; */
    /* margin-right: 1%; */
  }
  
  .descp {
    display: flex;
    flex-direction: column;    
    /* align-content:space-between; */
  }

  ul {
    list-style-type: none;
    padding-left:0;
  }

  .descrip p{
    /* width: 302px;
    height: 32px; */
    font-family: 'Founders Grotesk Text Test';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #000000;
    display: flex;
  }

  /* .top-desc{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .bottom-desc{
    margin-top: 0px;
    margin-bottom: 0px;
  } */

  .row-rev {
    flex-direction: row-reverse;
  }

  .header-right{
    columns: 6rem auto;
  }

  [class*="col-"] {
    float: left;
    /* padding-top:15px; */
    border: 1px solid red;
  }

  .topnav-right{
    float: right;
    list-style: none;
    /* width: 100%; */
    /* height:fit-content; */
    display: flex;
    align-items: center;
    text-align: right;
    margin-right: 0;
    /* text-decoration: none; */
    /* position:absolute; */
    /* top:0; */
    /* right:0; */
  }

  .topcorner{
    position:absolute;
    top:0;
    right:0;
   }
  /* .topnav-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  .topnav-right li {
    float: left;
  }

  .topnav-right li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  } */
  
  .nav{
    padding-left: 2%;
    padding-right: 1%;
  }
  
  .landingPage-full{
      /* display: flex; */
      max-width: max-content;
      /* overflow: hidden; */
      background-color: #FFB8F2;
    }

  .landingPage-image{
    /* align-items: left; */
    justify-content: center;
    float: right;
    position: relative;
    /* max-height: 50%; */
  }

  /* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  .loadingPage-full img{ 
    background: red;
    max-width: 70%;
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .landingPage-full { 
    display: flex;
    /* overflow: hidden; */
    background-color: #FFB8F2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
  }

  .landingPage-image { 
    /* background-color: chartreuse; */
    align-items: centers;
    justify-content: center;
    float: right;
    max-width: 17%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .landingPage-full { 
    display: flex;
    /* overflow: hidden; */
    background-color: #FFB8F2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
  }

  .landingPage-image { 
    /* background: blue; */
    flex-direction: row;
     align-items: left;
    justify-content: center;
    float: right;
    max-height: 28%;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .landingPage-full { 
    display: flex;
    /* overflow: hidden; */
    background-color: #FFB8F2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
  }

  .landingPage-image { 
    /* background-color:darkgreen;  */
    flex-direction: row;
    align-items: left;
    justify-content: center;
    float: right;
    max-height: 88%;
  }
} 

#nav h1{
  font-family: FoundersGroteskText;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* #customers tr {
  border: 1px solid #ddd;
  padding: 8px;
} */

@font-face {
  font-family: "FoundersGroteskText";
  src: local("Founders Grotesk Text"),
    url("./resource/font/Test\ Founders\ Grotesk\ 400.otf") format("truetype");
}

/* #customers tr:nth-child(even){background-color: #f2f2f2;} */

#customers tr:hover {background-color: #FFC572}

#customers td{
  font-family: 'FoundersGroteskText';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #000000;
  text-align: left;
}

.projectDisplay {
  overflow-x: auto;
}


#topnav {
  font-family: 'FoundersGroteskText';
  border-collapse: collapse;
  width: 100%;
}

#topnav h1{
  font-family: FoundersGroteskText;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: right;
  letter-spacing: -0.02em;
  align-content: right;
  text-align: right;
  margin: 0;
}

.logoheader {
  text-align: right;
  align-items: right;
  align-self: right;
}

#topnav td {
  font-family: 'FoundersGroteskText';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #000000;
  text-align: left;
  /* border: 1px solid #ddd; */
  /* padding: auto;
  padding-left: 2%;
  font-family: 'FoundersGroteskText';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #000000;
  text-align: left; */
}

/* #topnav ul li {
  font-family: 'Founders Grotesk Text Test';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #000000;
  display: flex;
} */

.descriptionHeader{
  /* width: 302px;
  height: 32px; */
  font-family: 'FoundersGroteskText';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #000000;
  display: flex;
}

.navDisplay {
  overflow-x: auto;
  padding-left: 1%;
}
